.DS_Store
api_reporter/logs/*.yml
api_reporter/.sass-cache

*.csv
api_reporter/results/*.*
sdk/server/java/bin/
sdk/server/java/dist/
nohup.out
sdk/docs/
packaged/
.sass-cache
sdk/server/java/docs/
sdk/server/php/docs/
sdk/server/ruby/docs/
sdk/sample/builds

*.zip

sdk/examples/SMS/attlib/
sdk/examples/SMS/sdk/
sdk/examples/SPEECH/attlib/
sdk/examples/SPEECH/sdk/

sdk/sample/sdk/*.js
sdk/sample/sdk/command/*
sdk/sample/sdk/microloader/*
sdk/sample/sdk/resources/*
sdk/sample/sdk/src/*

sdk/skeleton/attlib/
sdk/skeleton/sdk/
sdk/webcontent/*

#eclipse 
.settings
.buildpath
.classpath
.project
